<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Attempting Illegal Access❗</title>
    </head>
    <body>
        <p>
            You are not an active member to this group❗<br>
            <a href="/<%= grpDetails.groupName %>/join-request">click here</a> to send membership request to admin.
        </p>
    </body>
</html>