<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zappy | Requests</title>
    </head>
    <body>
        <h1>Requests</h1>
        <% requests.forEach(request => { %>
            <p style="font-size: 1.2rem;">
                <%= request.user %> wants to join <%= request.groupName %>
                <div class="btns" style="display: flex; gap: 5px;">
                    <form action="/request/approve/<%= request._id %>?_method=PATCH" method="post">
                        <button>Approve</button>
                    </form>
                    <form action="/request/disapprove/<%= request._id %>?_method=DELETE" method="post">
                        <button>Disapprove</button>
                    </form>
                </div>
            </p>
            <hr>
        <% }) %>
    </body>
</html>